@model string
@{
    ViewData["Title"] = "Math Dorks UNITE!";
}


<div class="">
    <h1>Cars I considered buying</h1>
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#65gto">1965 Pontiac GTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#69firebird">1969 Pontiac Firebird</a>
            </li>            
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="65gto">
                <div class="col-sm-12">
                    <div class="header showSlides col-sm-4 offset-sm-4" data-car-id="GTO">
                        <img class="img-thumbnail" src="~/images/Cars/GTO/LS_354719_2235537.jpg" />
                        <span>Click to view all images.</span>
                    </div>
                </div>
                <div id="inspection-accordion-1" class="">
                    <div class="inspection-section card col-sm-12">
                        <div id="inspection-summary-header-1" class="card-header" data-toggle="collapse" data-target="#inspection-summary-1" aria-expanded="true" aria-controls="inspection-summary-1">
                            <h3>Inspection Summary</h3>
                        </div>
                        <div id="inspection-summary-1" class="collapse col-sm-12" aria-labelledby="inspection-summary-header-1" data-parent="#inspection-accordion-1">
                            <div class="card-body col-sm-8 offset-sm-2">
                                This vehicle is in good running and driving condition with some issues of note. This car is in good driver quality and is not a show car.
                                The wiper system is not working. Further diagnosis is needed. The windshield washer does not work. The hood and trunk lid are slightly
                                raised at the hinge sides. The red paint on the vehicle does look nice but there are several spots where the paint has started to bubble.
                                It is very hard to take a picture of this issue but I did try my best. I also notated the body panels where this paint bubbling can be found.
                                Paint looks good from a distance, but at the right angles you can notice the paint bubbling very easy. This seems to be the effect of poor prep work.
                                The window seal around the drivers window is partially loose. The brake lights are not working. The reverse lights are not working.
                                The driver turn signal is not working. The hazard lights are not working. Possible electrical rewiring needed. I checked the vehicle with a
                                magnet and found it to stick all around but was weaker in the lower panels. Not excessive. The horn does not work. There are no rear seatbelts.
                                The clock does not work. The radio is not working. The manual window handles have to be pushed inward and pressure held against them while rolling
                                up the window. There are extra window handles inside of the glove box. The dash lights are not working. The climate control is not working.
                                The buttons don't feel as though they're moving anything. The blower motor does not work. Gauges do not appear to be accurate. The odometer
                                seems to be working but the speedometer was not. A small piece of trim is loose behind the driver's seat. Windows are not the easiest to roll up.
                                The front door windows also clank around in the door when opening and closing the door. The wheels are in good condition with no notable damage
                                and the tires are wearing evenly with good tread depth remaining. There is a coolant leak coming from the thermostat gasket. Coolant has collected
                                on top of the motor. Technician notated with pictures. The engine is seeping some oil from the underside and possibly the lift pump. There were no
                                drips at time of inspection. This area should be cleaned off and rechecked to verify the source of leak or leaks. The transmission is seeping
                                fluid from the pan area and should be cleaned off and recheck to find the source of seepage. Brake system has recently been upgraded to front disc brakes.
                                Old and extra parts are in the trunk. I did listen for a whine noise on engine rev up and was able to hear what I believe is the noise you were
                                referring to. This does appear to be coming from the transmission. It does not sound very loud but it may have something to do with the 2 speed
                                original transmission being replaced with a 3 speed. The shifter indicator does not show the updated three-speed either. With the upgrade of
                                front disc brakes, the vehicle does not stop as well as it should. Further diagnosis is necessary. The rear suspension of the vehicle sits very low.
                                The engine had plenty of power and there were no misfires or excessive smoking. The transmission shifted as designed with no harsh engagement or slipping.
                                The steering was responsive and the suspension was firm and the vehicle handled well. See below and pictures for more info.
                            </div>
                        </div>
                    </div>
                    <div class="inspection-section card col-sm-12">
                        <div id="inspection-breakdown-header-1" class="card-header" data-toggle="collapse" data-target="#inspection-breakdown-1" aria-expanded="true" aria-controls="inspection-breakdown-1">
                            <h3>Inspection Breakdown</h3>
                        </div>
                        <div id="inspection-breakdown-1" class="collapse col-sm-12" aria-labelledby="inspection-breakdown-header-1" data-parent="#inspection-accordion-1">
                            <div class="card-body row">
                                <div class="left-content col-md-6 col-sm-12">
                                    <h4 class="report-tables__head">Vehicle Info</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Year</th><td>1965</td></tr>
                                            <tr class="table-active"><th>Make</th><td>Pontiac</td></tr>
                                            <tr class="table-active"><th>Model</th><td>GTO</td></tr>
                                            <tr class="table-active"><th>Mileage</th><td>85567</td></tr>
                                            <tr class="table-active"><th>Transmission</th><td>Automatic</td></tr>
                                            <tr class="table-active"><th>VIN Number</th><td>237375p181259</td></tr>
                                            <tr class="table-active"><th>Stock Number</th><td>873AC</td></tr>
                                            <tr class="table-active"><th>Interior</th><td>Vinyl</td></tr>
                                            <tr class="table-active"><th>Interior Color</th><td>Silver</td></tr>
                                            <tr class="table-active"><th>Body Color</th><td>Red</td></tr>
                                            <tr class="table-active"><th>Engine</th><td>8 Cylinder</td></tr>
                                            <tr class="table-active"><th>Drive Type</th><td>Rear Wheel Drive</td></tr>
                                            <tr class="table-active"><th>Fuel Type</th><td>Gas</td></tr>
                                        </tbody>
                                    </table>                                                                            
                                    <h4>Exterior</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Wiper Blades</th><td><i class="fa fa-exclamation-triangle"></i>                                                                                                              <p>The wiper system is not working. Further diagnosis is needed. </p></td></tr>
                                            <tr class="table-active"><th>Windshield Washer</th><td><i class="fa fa-exclamation-triangle"></i>                                                                                                                                                                <p>The windshield washer does not work.</p></td></tr>
                                            <tr class="table-active"><th>Body Alignment</th><td><i class="fa fa-exclamation-triangle"></i>    
                                                <p>The hood and trunk lid are slightly raised at the hinge sides.</p></td></tr>
                                            <tr class="table-active"><th>Scratches</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dings</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dents</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Paint Condition</th><td><i class="fa fa-exclamation-triangle"></i>
                                                <p>The red paint on the vehicle does look nice but there are several spots where the paint has started to bubble. 
                                                It is very hard to take a picture of this issue but I did try my best. I also notated the body panels where this paint bubbling can be found. 
                                                Paint looks good from a distance, but at the right angles you can notice the paint bubbling very easy. This seems to be the effect of poor prep work.</p></td></tr>
                                            <tr class="table-active"><th>Body Seals</th><td><i class="fa fa-exclamation-triangle"></i>                                                                                                       <p>The window seal around the drivers window is partially loose.</p></td></tr>
                                            <tr class="table-active"><th>Rust</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Exterior Lights</th><td><i class="fa fa-exclamation-triangle"></i>                                                                                                           <p>The brake lights are not working. The reverse lights are not working. The driver turn signal is not working. The hazard lights are not working. Possible electrical rewiring needed.</p></td></tr>
                                            <tr class="table-active"><th>Door Mirrors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Bumpers</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Frame Damage</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Glass</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Body Filler?</th><td><i class="fa fa-exclamation-triangle"></i>      
                                                <p>I checked the vehicle with a magnet and found it to stick all around but was weaker in the lower panels. Not excessive.</p></td></tr>
                                            <tr class="table-active"><th>Hood</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Doors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Floors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Rockers</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Quarter Panels</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Chrome</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>      
                                    <h4>Interior</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Steering Wheel</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Horn</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The horn does not work. </p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Seat Condition</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Seat Belts</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There are no rear seatbelts.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Clock</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The clock does not work.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Radio/Navigation</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The radio is not working.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Inner Door Panels</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Window Switches</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The manual window handles have to be pushed inward and pressure held against them while rolling up the window. There are extra window handles inside of the glove box.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Window Function</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>Windows are not the easiest to roll up. The front door windows also clank around in the door when opening and closing the door.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Center Console</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dash</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Sun Visors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Dash Lights</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The dash lights are not working.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Dash Gauges</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>Gauges do not appear to be accurate. The odometer seems to be working but the speedometer was not.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Heater</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The climate control is not working. The buttons don't feel as though they're moving anything.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Carpet</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Floor Mats</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Cigarette Use</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Unusual Odors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Headliner</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Blower Motor</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The blower motor does not work. </p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Interior Trim</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>A small piece of trim is loose behind the driver's seat.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Inner Trunk</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>                                        
                                </div>
                                <div class="right-content col-md-6 col-sm-12">                                    
                                    <h4 class="report-tables__head">Mechanical</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Air Filter</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Battery Condition</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Charging System</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Cooling Fan Condition</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Radiator Cap Sealing Properly</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Hoses</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Radiator</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Coolant</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Coolant Leaks</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There is a coolant leak coming from the thermostat gasket. Coolant has collected on top of the motor. Technician notated with pictures.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Belts</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Power Steering</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Steering Fluid</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Oil</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Engine Fluid Leaks</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The engine is seeping some oil from the underside and possibly the lift pump. There were no drips at time of inspection. This area should be cleaned off and rechecked to verify the source of leak or leaks.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Transmission Fluid</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Transmission Leaks</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The transmission is seeping fluid from the pan area and should be cleaned off and recheck to find the source of seepage. </p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Brake System</th>
                                                <td class="report-tables__value">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>Brake system has recently been upgraded to front disc brakes. Old and extra parts are in the trunk.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Brake Fluid Leaks</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Differential leaks</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Muffler System</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>CV Joints and Axles</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Shocks and bushings</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Ball Joints and Tie Rods</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Modifications</th><td class="report-tables__value"><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>                                                                           
                                    <h4>Road Test</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Engine Starting</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Transmission performance</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>I did listen for a whine noise on engine rev up and was able to hear what I believe is the noise you were referring to. This does appear to be coming from the transmission. It does not sound very loud but it may have something to do with the 2 speed original transmission being replaced with a 3 speed. The shifter indicator does not show the updated three-speed either.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Differential Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Wheel Bearing Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Braking Performance</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>With the upgrade of front disc brakes, the vehicle does not stop as well as it should. Further diagnosis is necessary.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Suspension Performance</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The rear suspension of the vehicle sits very low.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Steering Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>                                                                            
                                    <h4 class="report-tables__head">Tires/Wheels</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Tire Manufacturer</th><td>Westlake</td></tr>
                                            <tr class="table-active"><th>Tire Size</th><td>205/70r14</td></tr>
                                        </tbody>
                                    </table>                                        
                                    <h5>Tire Tread</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i>8/32</td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i>8/32</td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i>8/32</td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i>8/32</td></tr>
                                        </tbody>
                                    </table>                                        
                                    <h5>Tire Condition</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>                                       
                                    <h5>Wheel Condition</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>                                        
                                    <h5>Spare Tire</h5>
                                    <table class="table">
                                        <tbody><tr class="table-active"><th class="table-active">Spare tire</th><td><i class="fa fa-thumbs-up"></i></td></tr></tbody>
                                    </table>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="69firebird">
                <div class="col-sm-12">
                    <div class="header showSlides col-sm-4 offset-sm-4" data-car-id="Firebird">
                        <img class="img-thumbnail" src="/images/Cars/Firebird/LS_355843_2290007.jpg" />
                        <span>Click to view all images.</span>
                    </div>
                </div>
                <div id="inspection-accordion-2" class="">
                    <div class="inspection-section card col-sm-12">
                        <div id="inspection-summary-header-2" class="card-header" data-toggle="collapse" data-target="#inspection-summary-2" aria-expanded="true" aria-controls="inspection-summary-2">
                            <h3>Inspection Summary</h3>
                        </div>
                        <div id="inspection-summary-2" class="collapse col-sm-12" aria-labelledby="inspection-summary-header-2" data-parent="#inspection-accordion-2">
                            <div class="card-body col-sm-8 offset-sm-2">
                                This vehicle is in good running and driving condition with some issues of note. This car is considered to be in good driver quality and not a show car.
                                The right and left doors are slightly misaligned. The hood and front fascia are also slightly misaligned. There are minor scratches around the vehicle.
                                The right rear quarter panel at the wheel well Looks like the paint has a crack in it. The paint is fair with some blemishes such as orange peel or fish eyes in some areas.
                                Under the trunk mat there was some moisture suggesting trunk seal may not be sufficient. The left rear brake light does not work and the right front side marker light does not come on.
                                I used a paint meter on all exterior panels and found the readings to suggest light body filler usage mostly as skim coat. There is minor surface rust inside the trunk from moisture being trapped inside.
                                There is light wear on the seats. There were some minor markings on the headliner. The interior trim shows minor wear for the age.
                                The wheels are in good condition with no notable damage and the tires are wearing evenly with good tread depth remaining.
                                The lower radiator hose at the radiator is seeping. The power steering is not very strong at low speeds. The engine had plenty of power and there were no misfires or excessive smoking.
                                The transmission shifted as designed with no harsh engagement or slipping. The steering was responsive and the suspension was firm and the vehicle handled well.
                                There were no abnormal vibrations or odd noises. The brakes were firm with no pulsation felt. See below and pictures for more info.
                            </div>
                        </div>
                    </div>
                    <div class="inspection-section card col-sm-12">
                        <div id="inspection-breakdown-header-2" class="card-header" data-toggle="collapse" data-target="#inspection-breakdown-2" aria-expanded="true" aria-controls="inspection-breakdown-2">
                            <h3>Inspection Breakdown</h3>
                        </div>
                        <div id="inspection-breakdown-2" class="collapse col-sm-12" aria-labelledby="inspection-breakdown-header-2" data-parent="#inspection-accordion-2">
                            <div class="card-body row">
                                <div class="left-content col-md-6 col-sm-12">
                                    <h4 class="report-tables__head">Vehicle Info</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Year</th><td>1969</td></tr>
                                            <tr class="table-active"><th>Make</th><td>Pontiac</td></tr>
                                            <tr class="table-active"><th>Model</th><td>Firebird</td></tr>
                                            <tr class="table-active"><th>Mileage</th><td>126569</td></tr>
                                            <tr class="table-active"><th>Transmission</th><td>Automatic</td></tr>
                                            <tr class="table-active"><th>VIN Number</th><td>223379U103042</td></tr>
                                            <tr class="table-active"><th>Interior</th><td>Vinyl</td></tr>
                                            <tr class="table-active"><th>Interior Color</th><td>Black</td></tr>
                                            <tr class="table-active"><th>Body Color</th><td>Green</td></tr>
                                            <tr class="table-active"><th>Engine</th><td>8 Cylinder</td></tr>
                                            <tr class="table-active"><th>Drive Type</th><td>Rear Wheel Drive</td></tr>
                                            <tr class="table-active"><th>Fuel Type</th><td>Gas</td></tr>
                                        </tbody>
                                    </table>
                                    <h4>Exterior</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Wiper Blades</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <p>The windshield washer does not work.</p></td></tr>
                                            <tr class="table-active">
                                                <th>Body Alignment</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The right and left doors are slightly misaligned. The hood and front fascia are also slightly misaligned.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Scratches</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There are minor scratches around the vehicle. The right rear quarter panel at the wheel well Looks like the paint has a crack in it.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Dings</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dents</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Paint Condition</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The paint is fair with some blemishes such as orange peel or fish eyes in some areas.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Body Seals</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>Under the trunk mat there was some moisture suggesting trunk seal may not be sufficient.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Rust</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Exterior Lights</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The left rear brake light does not work and the right front side marker light does not come on.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Door Mirrors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Bumpers</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Frame Damage</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Glass</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Body Filler?</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>I used a paint meter on all exterior panels and found the readings to suggest light body filler usage mostly as skim coat.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Hood</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Doors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Floors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Rockers</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Quarter Panels</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Chrome</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>
                                    <h4>Interior</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Steering Wheel</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Horn</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Seat Condition</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There is light wear on the seats.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Seat Belts</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Radio/Navigation</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Inner Door Panels</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Window Function</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Center Console</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dash</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Sun Visors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Dash Gauges</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Air Conditioning</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Heater</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Carpet</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Cigarette Use</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Unusual Odors</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Headliner</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There were some minor markings on the headliner.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Blower Motor</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Interior Trim</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The interior trim shows minor wear for the age.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active">
                                                <th>Inner Trunk</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>There is minor surface rust inside the trunk from moisture being trapped inside.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="right-content col-md-6 col-sm-12">
                                    <h4 class="report-tables__head">Mechanical</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Battery Condition</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Charging System</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Cooling Fan Condition</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Radiator Cap Sealing Properly</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Hoses</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The lower radiator hose at the radiator is seeping.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Radiator</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Coolant</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Coolant Leaks</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Belts</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active">
                                                <th>Power Steering</th>
                                                <td>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <p>The power steering is not very strong.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-active"><th>Steering Fluid</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Oil</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Fluid Leaks</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Transmission Fluid</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Transmission Leaks</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Brake System</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Brake Fluid Leaks</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Differential leaks</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Muffler System</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>CV Joints and Axles</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Shocks and bushings</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Ball Joints and Tie Rods</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Modifications</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>
                                    <h4>Road Test</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Engine Starting</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Engine Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Transmission performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Differential Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Wheel Bearing Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Braking Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Suspension Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Steering Performance</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>
                                    <h4 class="report-tables__head">Tires/Wheels</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Tire Manufacturer</th><td>NITRO</td></tr>
                                            <tr class="table-active"><th>Front Tire Size</th><td>255/35R18</td></tr>
                                            <tr class="table-active"><th>Rear Tire Size</th><td>275/40R18</td></tr>
                                        </tbody>
                                    </table>
                                    <h5>Tire Tread</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i>9/32</td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i>9/32</td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i>9/32</td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i>9/32</td></tr>
                                        </tbody>
                                    </table>
                                    <h5>Tire Condition</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>
                                    <h5>Wheel Condition</h5>
                                    <table class="table">
                                        <tbody>
                                            <tr class="table-active"><th>Driver Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Front</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Driver Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                            <tr class="table-active"><th>Passenger Rear</th><td><i class="fa fa-thumbs-up"></i></td></tr>
                                        </tbody>
                                    </table>
                                    <h5>Spare Tire</h5>
                                    <table class="table">
                                        <tbody><tr class="table-active"><th class="table-active">Spare tire</th><td><i class="fa fa-exclamation-triangle"></i><p>No spare tire</p></td></tr></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="carSlideshow" tabindex="-1" role="dialog" aria-labelledby="slideshowModal">
</div>


<script>
    $(document).ready(function ()
    {
        $('.showSlides').on('click', function ()
        {
            var carId = $(this).data('car-id');
            ShowSlideshow(carId);
        });
    });

    function ShowSlideshow(carId)
    {
        $('#waitingOverlay').show();
        $.ajax(
        {
            url: '/cars/slideshow/' + carId,
            type: "GET",
            success: function (data)
            {
                $('#carSlideshow').html(data).modal("show");

            },
            error: function (e)
            {

            },
            complete: function ()
            {
                $('#waitingOverlay').hide();
            }
        });

    }
    

</script>