header div.jumbotron {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover; }

#body.container {
  background-color: #272b30;
  padding-top: 20px;
  padding-bottom: 20px; }


body {
  min-width: 750px; }

ol.round li {
  height: 30px; }

div.navTab {
  display: inline-block;
  height: 40px;
  width: 200px;
  border-top-left-radius: 50px;
  background-color: #858585;
  color: white;
  padding-left: 40px;
  padding-top: 10px; }

div.navTab.active {
  background-color: #777766; }

img.card {
  height: 49px;
  width: 36px; }
  img.card.selected {
    height: 60px;
    width: 52px; }

#divGameSim, #divStatInterface {
  min-height: 500px;
  min-width: 720px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #777766;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#divGameBoard {
  /*
    display:inline-block;
    position:absolute;
    left:0px;
        */
  min-width: 675px;
  min-height: 400px;
  margin-top: 50px;
  background-image: url("../images/table.jpg");
  background-repeat: no-repeat; }

#gameMessage {
  display: none;
  margin-top: -30px;
  margin-left: 10px; }

#divGameStats {
  display: inline-block;
  position: relative;
  min-width: 300px; }

div.playerHand {
  height: 80px;
  width: 75px; }

div.cardsDown {
  /*
    background-image: url('../../Images/card_back_sm2.png');
    background-repeat: no-repeat;
        */ }

.gameElem {
  position: absolute;
  z-index: 100; }

img.playerCard {
  height: 49px;
  width: 25px; }

.winner {
  border: 5px solid blue;
  width: 88px !important;
  height: 94px !important;
  padding: 2px; }

div.playerHand h6 {
  margin-top: 0px;
  margin-bottom: 5px; }

.modal-overlay {
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 0px;
  background-color: black;
  opacity: .5;
  z-index: 100; }

.popoverData.handResult {
  color: greenyellow;
  font-size: 20px; }

div.popover {
  width: 160px;
  z-index: 999; }

span.modalWarning {
  color: red;
  display: none;
  float: left; }

a.popoverData {
  display: none; }

a.popoverData:hover {
  background-color: inherit;
  text-decoration: none; }

.glyphicon-info-sign {
  font-size: 8px;
  vertical-align: top; }

.glyphicon-plus {
  color: green; }

.glyphicon-minus {
  color: red; }

#EntrantsTable {
  width: 100%;
  max-width: 1000px;
  background-color: tan;
  border-radius: 5px;
  padding-left: 20px;
  margin-left: 30px; }

.entryRow {
  margin-top: 15px; }

#options .rowInput {
  padding-left: 40px; }

#buttons button {
  margin-left: 80px; }

.rowInput {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle; }

.entryRow div.leftIcon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: -10px; }

input.numEntry {
  width: 60px; }

#AddRowButton {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px; }

/* has-error overload */
div.rowInput.has-error label {
  color: red; }

div.rowInput.has-error input {
  border: 2px solid red;
  color: red; }

.radioGroup {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px;
  border: 1px solid slategray;
  border-radius: 6px; }

.subRadios {
  margin-left: 10px; }

.subRadios .radio input {
  width: 350px; }

/* modal */
.modal-content {
  border-radius: 10px; }

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -1px;
  background-color: slategray;
  color: white; }

.modal-body {
  padding: 10px; }

#csvTextArea {
  height: 300px;
  width: 500px; }

.modal-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: -1px;
  background-color: slategray;
  color: white; }

.radioLeft {
  display: inline-block;
  float: left; }

.modal-content .radioGroup .radio,
.modal-content .radioGroup .radio label,
.modal-content .radioGroup .radio label input {
  width: 100%; }

#entryRowTemplate, #winnersTable {
  display: none; }

#winnersTable li {
  font-size: 25px; }

#graph {
  height: 400px;
  width: 100%; }

#myTabContent {
  margin-top: 15px; }
  #myTabContent .header span {
    display: block;
    text-align: center; }
  #myTabContent .inspection-section {
    margin-top: 15px; }
  #myTabContent .fa-exclamation-triangle {
    float: right;
    color: orange; }
  #myTabContent .fa-thumbs-up {
    float: right;
    color: lightgreen; }

#slideshowModal {
  max-width: 90%;
  max-height: 90%; }
  #slideshowModal .modal-body {
    width: 90%;
    margin: auto;
    /* Slideshow container */
    /* Hide the images by default */
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* Caption text */
    /* Number text (1/3 etc) */
    /* The dots/bullets/indicators */
    /* Fading animation */ }
    #slideshowModal .modal-body * {
      box-sizing: border-box; }
    #slideshowModal .modal-body .slideshow-container {
      position: relative;
      margin: auto; }
    #slideshowModal .modal-body .mySlides {
      display: none; }
    #slideshowModal .modal-body .prev, #slideshowModal .modal-body .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    #slideshowModal .modal-body .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    #slideshowModal .modal-body .prev:hover, #slideshowModal .modal-body .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    #slideshowModal .modal-body .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center; }
    #slideshowModal .modal-body .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0; }
    #slideshowModal .modal-body .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    #slideshowModal .modal-body .active, #slideshowModal .modal-body .dot:hover {
      background-color: #717171; }
    #slideshowModal .modal-body .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }