@{
    ViewBag.Title = "Index";
}

<h2>Texas Hold'em Poker</h2>

<ul>
    <li>@Html.ActionLink("Play a game", "Game", "Poker", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Explore probabilities", "Probability", "Poker", null, new { @class = "btn btn-default" })</li>

</ul>






